html, body{
    width: 100%;
    height: 100%;
}

#nav{
    position: fixed;
    margin-top:0px;
    z-index: 10000;
    width: 100%;
}

/* Cover */

header{
    height: auto;
}

#cover{
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: rgba(60, 60, 60, 0.6); 
    background-image: url(../images/cover.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

/* Menu */
#menu{
    display: flex;
    height: auto;
    flex-wrap: wrap-reverse;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
}

/* Introduction */
#cv-1{
    width: 60%;
    height: auto;
}

#cv-1 > div{
    height: auto;
    margin-top: 10px;
}

#about > h4, #skill > h4, #award > h4, #projects > h4{
    font-weight: bolder;
}

.award{
    display: inline-block;
    width: 45%;
}

.award img{
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.award img:hover{
    cursor: pointer;
    box-shadow: rgba(190,190,190) 3px 3px 20px 0px;
    transform: translate(0,-5px);
}

.award h6{
    color: rgba(210,210,210);
}

.show{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.show-page{
    background-color: white;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/* Profile */
#cv-2{
    width: 40%;
    height: auto;
}

#profile{  
    height: fit-content;
}

#profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;   
}

/* Projects & Activity */
section{
    height: 100%;
    background-color: rgba(248,229,170);
}

.topic{
    padding: 2rem;
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px; 
}

#picture{
    background-color: rgba(248,229,170);
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center center;
}

/* Footer */
footer{
    height: 200px;
    background-color: rgba(209, 105, 0, 0.6);
}


/* RWD */
@media screen and (max-width: 992px){
    #cv-1{
        width: 100%;
    }

    #cv-2{
        width: 100%;
    }

    #profile{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media screen and (max-width: 620px) {
    #profile{
        width: 80%;
    }

    .award{
        width: 100%;
        padding-right: 30px;
    }
}

@media screen and (max-width: 400px) {
    #profile{
        width: 100%;
    }
}